BAIXAR relatórios:

REGISTRO MENSAL DE ATENDIMENTOS DOS CRAS (RMA) – FORMULÁRIO DO CRAS

Variáveis do Bloco II – Atendimentos individualizados realizados no CRAS

C1 = Quantidade total de atendimentos particularizados realizados no CRAS no mês de referência

Código para baixar os endereços dos arquivos na página

In [2]:
import os

def baixar_arquivo(url, local_filename=None):
    """Baixa e salva o arquivo de uma url."""
    # Se o nome do arquivo não foi passado como parâmetro, extrair da url.
    if local_filename is None:
        local_filename = os.path.join("./data", url.split('/')[-1])

    #verifica se arquivo já foi baixado
    if os.path.exists(local_filename):
        print(f'Arquivo {local_filename} já baixado!')
        return None
    else:
        print('Solicitando arquivo do servidor.')
        response = requests.get(url, stream=True)
        response.raise_for_status()

        with open(local_filename, 'wb') as f:
            print(f"Baixando arquivo da url: {url}")
            for chunk in response.iter_content(chunk_size=8192): 
                f.write(chunk)
            return "Arquivo baixado!"

In [3]:
def read_page(url):
    print(f'Fazendo requisição GET para o link: {url}')
    response = requests.get(url)
    response.raise_for_status() #Levanta uma exceção caso haja erro na requisição.
    
    if response.status_code == 200:
        content = response.text
        return content

Informar a página

In [4]:
import requests
from bs4 import BeautifulSoup
import time

TIME_TO_SLEEP = 120

url = 'https://aplicacoes.mds.gov.br/snas/vigilancia/index2.php'

content = read_page(url)
soup = BeautifulSoup(content, 'html.parser')

Fazendo requisição GET para o link: https://aplicacoes.mds.gov.br/snas/vigilancia/index2.php

Informar a marcação em que os endereços dos arquivos estão no HTML

In [5]:
 section = soup.find('body')
 links=section.find_all('a')

Todos os links da página

In [6]:
len(links)

171

In [7]:
links[10]

Identificar apenas os links que possuem o termo CRAS

In [8]:
CRAS=[]

for item in links:
    link = item['href']
    term_link = link[75:83]
    if term_link == 'RMA_CRAS':
        CRAS.append(link)

In [9]:
CRAS

['https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_Criterios_2023_divulga%C3%A7%C3%A3o_030423.zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_Criterios_2022_divulga%C3%A7%C3%A3o_27_03_23.xlsx',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_Criterios_2021_divulga%C3%A7%C3%A3o.zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_Criterios_2020_divulga%C3%A7%C3%A3o(2).zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_NovoCriterios_2019_divulga%C3%A7%C3%A3o.zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_NovoCriterios_2018_divulga%C3%A7%C3%A3o.zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_NovoCriterios_2017_divulga%C3%A7%C3%A3o.zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_Criterios_2022_divulga%C3%A7%C3%A3o_11_04_22.zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_Criterios_2021_divulga%C3%A7%C3%A3o_07_03_22.zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_Criterios_2020_divulga%C3%A7%C3%A3o.zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_Criterios_2019_divulga%C3%A7%C3%A3o_08_04_2020.zip',
 'https://aplicacoes.mds.gov.br/sagi/dicivip_datain/ckfinder/userfiles/files/RMA_CRAS_criterios%20%202018_divulga%C3%A7%C3%A3o_10_07_19.zip']

Pegar apenas o link de 2022 - segundo arquivo

In [10]:
for item in CRAS[1:2]:
    if baixar_arquivo(item):
        print('Esperando 120s para solicitar próximo download...')
        time.sleep(TIME_TO_SLEEP)
    else:
        print("Link para download não encontrado.")

Arquivo ./data\RMA_CRAS_Criterios_2022_divulga%C3%A7%C3%A3o_27_03_23.xlsx já baixado!
Link para download não encontrado.

Descompactar o arquivo - ZIP na pasta data

In [21]:
#import os
#import zipfile

##caminho = os.getcwd()
#caminho = 'data'
#arquivos = os.listdir(caminho)

In [22]:
#for arquivo in arquivos:
#    if arquivo.endswith('.zip'):
#        caminho_completo = os.path.join(caminho, arquivo)
#
#        with zipfile.ZipFile(caminho_completo, 'r') as zip_ref:
#            zip_ref.extractall(caminho)

In [26]:
import pandas as pd 
caminho

'data'

In [27]:
#arquivos=[]
#for file in os.listdir(caminho):
#    if file.endswith(".xlsx"):
#        print(f'Carregando arquivo {file} ...')
#        arquivos.append(pd.read_excel(os.path.join(caminho,file), sheet_name="Base tratada"))

Buscar apenas os arquivos terminados em XLSX na pasta data

In [30]:
import glob
caminho = 'data'
os.chdir(caminho)
arquivos2 = glob.glob('*.xlsx')

FileNotFoundError: [WinError 2] O sistema não pode encontrar o arquivo especificado: 'data'

Juntar arquivos em um dataframe

In [31]:
arquivos2

['RMA_CRAS_Criterios_2022_divulga%C3%A7%C3%A3o_27_03_23.xlsx',
 'RMA_CRAS_Criterios_2023_divulgaç╞o_030423.xlsx']

Abrir apenas uma aba especifica do XLSX

In [34]:
tabelas=[]

for x in arquivos2:
    dados = pd.ExcelFile(x)
    print(f'Carregando arquivo {dados} ...')
    tabelas.append(pd.read_excel(dados,sheet_name="Base tratada"))

print('fim')

Carregando arquivo <pandas.io.excel._base.ExcelFile object at 0x0000015D49092B10> ...
Carregando arquivo <pandas.io.excel._base.ExcelFile object at 0x0000015D58F31810> ...
fim

In [35]:
len(tabelas)

2

In [36]:
tabela_final=pd.concat(tabelas)

In [37]:
tabela_final.head(2)

,data,mes_referencia,ano,mes,nome_unidade,NU_IDENTIFICADOR,endereco,municipio,uf,a1,...,d2_original,d3_original,d4_original,d5_original,d6_original,d7_original,d8_original,geral,Ind_duplicidade,trimestre
0,2022-01-01,01-01-2022,2022,1,'CRAS CENTRO DE REFERENCIA DE ASSISTENCIA SOCIAL','11000120396','RUA MARANHAO 3300 - PRINCESA ISABEL','ALTA FLORESTA DOESTE','RO',30.0,...,0,0,0,0,0,0,0,1,Caso principal,1.0
1,2022-02-01,01-02-2022,2022,2,'CRAS CENTRO DE REFERENCIA DE ASSISTENCIA SOCIAL','11000120396','RUA MARANHAO 3300 - PRINCESA ISABEL','ALTA FLORESTA DOESTE','RO',51.0,...,0,0,0,90,31,0,0,1,Caso principal,1.0

In [38]:
tabela_final.columns

Index(['data', 'mes_referencia', 'ano', 'mes', 'nome_unidade',
       'NU_IDENTIFICADOR', 'endereco', 'municipio', 'uf', 'a1', 'a2', 'b1',
       'b2', 'b3', 'b4', 'b5', 'b6', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'd1',
       'd2', 'd3', 'd4', 'd5', 'd6', 'd7', 'IBGE', 'c7', 'c8', 'c9', 'd8',
       'IBGE7', 'Nome_UF', 'Região', 'Município', 'Pop_total_2010',
       'Pop_Urbana2010', 'Pop_Rural2010', 'areaKm2', 'Porte_pop2010',
       'a1_original', 'a2_original', 'b1_original', 'b2_original',
       'b3_original', 'b4_original', 'b5_original', 'b6_original',
       'c1_original', 'c2_original', 'c3_original', 'c4_original',
       'c5_original', 'c6_original', 'c7_original', 'c8_original',
       'c9_original', 'd1_original', 'd2_original', 'd3_original',
       'd4_original', 'd5_original', 'd6_original', 'd7_original',
       'd8_original', 'geral', 'Ind_duplicidade', 'trimestre'],
      dtype='object')

In [39]:
dados_municipio=tabela_final[['municipio', 'uf', 'IBGE','IBGE7','Nome_UF', 'Região', 'Município', 'Pop_total_2010', 'Pop_Urbana2010', 'Pop_Rural2010', 'areaKm2', 'Porte_pop2010']]

In [40]:
dados_municipio=dados_municipio.drop_duplicates(subset=['municipio','uf','IBGE','IBGE7'], keep='last')

In [41]:
dados_municipio

,municipio,uf,IBGE,IBGE7,Nome_UF,Região,Município,Pop_total_2010,Pop_Urbana2010,Pop_Rural2010,areaKm2,Porte_pop2010
835,'FEIJO','AC',120030,1200302,12,1,Feijó,32412,16636,15776,27975.427,2
2303,'BONFIM','RR',140015,1400159,14,1,Bonfim,10943,3711,7232,8095.421,1
2315,'CANTA','RR',140017,1400175,14,1,Cantá,13902,2257,11645,7664.831,1
2359,'IRACEMA','RR',140028,1400282,14,1,Iracema,8696,4078,4618,14351.133,1
2397,'RORAINOPOLIS','RR',140047,1400472,14,1,Rorainópolis,24279,10673,13606,33596.525,2
...,...,...,...,...,...,...,...,...,...,...,...,...
7835,'VIANOPOLIS','GO',522200,5222005,52,5,Vianópolis,12548,9170,3378,954.284,1
7836,'VICENTINOPOLIS','GO',522205,5222054,52,5,Vicentinópolis,7371,6321,1050,737.255,1
7837,'VILA BOA','GO',522220,5222203,52,5,Vila Boa,4735,3502,1233,1060.172,1
7839,'VILA PROPICIO','GO',522230,5222302,52,5,Vila Propício,5145,1504,3641,2181.583,1
7862,'BRASILIA','DF',530010,5300108,53,5,Brasília,2570160,2482210,87950,5779.997,5

Porte do municipio

In [42]:
url='https://blog.mds.gov.br/redesuas/wp-content/uploads/2018/06/Lista_Munic%C3%ADpios_com_IBGE_Brasil_Versao_CSV.csv'
porte=pd.read_csv(url, sep=";", encoding='Latin-1')

In [43]:
porte=porte[['IBGE',	'IBGE7',	'UF',	'Município',	'Região',	'População 2010',	'Porte']	]

In [44]:
Dados_municipio_porte = pd.merge(porte, dados_municipio, how = 'left', right_on='IBGE7',left_on='IBGE7')

In [45]:
Dados_municipio_porte.sort_values(by="IBGE_y")

,IBGE_x,IBGE7,UF,Município_x,Região_x,População 2010,Porte,municipio,uf,IBGE_y,Nome_UF,Região_y,Município_y,Pop_total_2010,Pop_Urbana2010,Pop_Rural2010,areaKm2,Porte_pop2010
0,110001,1100015,RO,Alta Floresta D´oeste,Região Norte,24392.0,Pequeno II,'ALTA FLORESTA DOESTE','RO',110001.0,11.0,1.0,Alta Floresta D'Oeste,24392.0,13970.0,10422.0,7067.025,2.0
1,110002,1100023,RO,Ariquemes,Região Norte,90353.0,Médio,'ARIQUEMES','RO',110002.0,11.0,1.0,Ariquemes,90353.0,76525.0,13828.0,4426.571,3.0
2,110003,1100031,RO,Cabixi,Região Norte,6313.0,Pequeno I,'CABIXI','RO',110003.0,11.0,1.0,Cabixi,6313.0,2693.0,3620.0,1314.353,1.0
3,110004,1100049,RO,Cacoal,Região Norte,78574.0,Médio,'CACOAL','RO',110004.0,11.0,1.0,Cacoal,78574.0,61921.0,16653.0,3792.948,3.0
4,110005,1100056,RO,Cerejeiras,Região Norte,17029.0,Pequeno I,'CEREJEIRAS','RO',110005.0,11.0,1.0,Cerejeiras,17029.0,14419.0,2610.0,2783.300,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4973,431700,4317004,RS,Santana da Boa Vista,Região Sul,8242.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4976,431725,4317251,RS,Santa Tereza,Região Sul,1720.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5056,432149,4321493,RS,Toropi,Região Sul,2952.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5076,432234,4322343,RS,Ubiretama,Região Sul,2296.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5092,432320,4323200,RS,Victor Graeff,Região Sul,3036.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Municipios não encontrados no RMA 2022

In [46]:
MuncipiosFalta=Dados_municipio_porte[Dados_municipio_porte['IBGE_y'].isna()]

In [47]:
MuncipiosFalta

,IBGE_x,IBGE7,UF,Município_x,Região_x,População 2010,Porte,municipio,uf,IBGE_y,Nome_UF,Região_y,Município_y,Pop_total_2010,Pop_Urbana2010,Pop_Rural2010,areaKm2,Porte_pop2010
575,210730,2107308,MA,Nova Iorque,Região Nordeste,4590.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,210945,2109452,MA,Raposa,Região Nordeste,26327.0,Pequeno II,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
701,220196,2201960,PI,Brasileira,Região Nordeste,7966.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1662,270130,2701308,AL,Cajueiro,Região Nordeste,20409.0,Pequeno II,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2230,293280,2932804,BA,Utinga,Região Nordeste,18173.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2356,311040,3110400,MG,Camacho,Região Sudeste,3154.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2709,314040,3140407,MG,Marmelópolis,Região Sudeste,2968.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3292,350230,3502309,SP,Anhembi,Região Sudeste,5653.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3342,350670,3506706,SP,Boa Esperança do Sul,Região Sudeste,13645.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3364,350860,3508603,SP,Cachoeira Paulista,Região Sudeste,30091.0,Pequeno II,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3385,351030,3510302,SP,Capela do Alto,Região Sudeste,17532.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3441,351530,3515301,SP,Estrela do Norte,Região Sudeste,2658.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3448,351580,3515806,SP,Flora Rica,Região Sudeste,1752.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3509,352115,3521150,SP,Ipiguá,Região Sudeste,4463.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3529,352290,3522901,SP,Itapuí,Região Sudeste,12173.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3558,352580,3525805,SP,Júlio Mesquita,Região Sudeste,4430.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,352780,3527801,SP,Lupércio,Região Sudeste,4353.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3629,353230,3532306,SP,Natividade da Serra,Região Sudeste,6678.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3697,353830,3538303,SP,Piquerobi,Região Sudeste,3537.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3714,354010,3540101,SP,Pongaí,Região Sudeste,3481.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3757,354370,3543709,SP,Rincão,Região Sudeste,10414.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3859,355320,3553203,SP,Taiúva,Região Sudeste,5447.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4056,411007,4110078,PR,Imbaú,Região Sul,11274.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4318,420060,4200606,SC,Águas Mornas,Região Sul,5548.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,420120,4201208,SC,Antônio Carlos,Região Sul,7458.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4342,420210,4202107,SC,Barra Velha,Região Sul,22386.0,Pequeno II,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4417,420680,4206801,SC,Ibicaré,Região Sul,3373.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,420757,4207577,SC,Iomerê,Região Sul,2739.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4543,421567,4215679,SC,Santa Terezinha,Região Sul,8767.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4545,421569,4215695,SC,Santiago do Sul,Região Sul,1465.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4606,430003,4300034,RS,Aceguá,Região Sul,4394.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4616,430057,4300570,RS,Alto Feliz,Região Sul,2917.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4653,430225,4302253,RS,Boa Vista do Sul,Região Sul,2776.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4660,430258,4302584,RS,Bozano,Região Sul,2200.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4724,430593,4305934,RS,Coronel Pilar,Região Sul,1725.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4811,431040,4310405,RS,Independência,Região Sul,6618.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4821,431070,4310702,RS,Itatiba do Sul,Região Sul,4171.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4830,431113,4311130,RS,Jari,Região Sul,3575.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4842,431164,4311643,RS,Linha Nova,Região Sul,1624.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4863,431238,4312385,RS,Monte Belo do Sul,Região Sul,2670.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4879,431295,4312955,RS,Nova Boa Vista,Região Sul,1960.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4884,431308,4313086,RS,Nova Pádua,Região Sul,2450.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4889,431335,4313359,RS,Nova Roma do Sul,Região Sul,3343.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4923,431454,4314548,RS,Pinto Bandeira,Região Sul,NaN,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4951,431575,4315750,RS,Riozinho,Região Sul,4330.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4973,431700,4317004,RS,Santana da Boa Vista,Região Sul,8242.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4976,431725,4317251,RS,Santa Tereza,Região Sul,1720.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5056,432149,4321493,RS,Toropi,Região Sul,2952.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5076,432234,4322343,RS,Ubiretama,Região Sul,2296.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5092,432320,4323200,RS,Victor Graeff,Região Sul,3036.0,Pequeno I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
MuncipiosFalta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 575 to 5092
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IBGE_x          50 non-null     int64
 1   IBGE7           50 non-null     int64
 2   UF              50 non-null     object
 3   Município_x     50 non-null     object
 4   Região_x        50 non-null     object
 5   População 2010  49 non-null     float64
 6   Porte           50 non-null     object
 7   municipio       0 non-null      object
 8   uf              0 non-null      object
 9   IBGE_y          0 non-null      float64
 10  Nome_UF         0 non-null      float64
 11  Região_y        0 non-null      float64
 12  Município_y     0 non-null      object
 13  Pop_total_2010  0 non-null      float64
 14  Pop_Urbana2010  0 non-null      float64
 15  Pop_Rural2010   0 non-null      float64
 16  areaKm2         0 non-null      float64
 17  Porte_pop2010   0 non-null      float64
dtypes: float64(9), int64(2), object(7)
memory usage: 7.4+ KB

In [361]:
RMA_mensal=tabela_final[['data', 'ano', 'mes', 'NU_IDENTIFICADOR','municipio', 'uf', 'c1', 'c1_original', 'IBGE','IBGE7']]

In [362]:
RMA_mensal.head(2)

,data,ano,mes,NU_IDENTIFICADOR,municipio,uf,c1,c1_original,IBGE,IBGE7
0,2022-01-01,2022,1,'11000120396','ALTA FLORESTA DOESTE','RO',1218.0,1218,110001,1100015
1,2022-02-01,2022,2,'11000120396','ALTA FLORESTA DOESTE','RO',1280.0,1280,110001,1100015

In [363]:
RMA_mensal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107017 entries, 0 to 7862
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   data              107017 non-null  object
 1   ano               107017 non-null  int64
 2   mes               107017 non-null  int64
 3   NU_IDENTIFICADOR  107017 non-null  object
 4   municipio         107017 non-null  object
 5   uf                107017 non-null  object
 6   c1                104526 non-null  float64
 7   c1_original       107017 non-null  int64
 8   IBGE              107017 non-null  int64
 9   IBGE7             107017 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 9.0+ MB

In [364]:
RMA_m_2022=RMA_mensal[(RMA_mensal['ano']==2022)]

In [365]:
RMA_m_2022[0:13]

,data,ano,mes,NU_IDENTIFICADOR,municipio,uf,c1,c1_original,IBGE,IBGE7
0,2022-01-01,2022,1,'11000120396','ALTA FLORESTA DOESTE','RO',1218.0,1218,110001,1100015
1,2022-02-01,2022,2,'11000120396','ALTA FLORESTA DOESTE','RO',1280.0,1280,110001,1100015
2,2022-03-01,2022,3,'11000120396','ALTA FLORESTA DOESTE','RO',1006.0,1006,110001,1100015
3,2022-04-01,2022,4,'11000120396','ALTA FLORESTA DOESTE','RO',1116.0,1116,110001,1100015
4,2022-05-01,2022,5,'11000120396','ALTA FLORESTA DOESTE','RO',1442.0,1442,110001,1100015
5,2022-06-01,2022,6,'11000120396','ALTA FLORESTA DOESTE','RO',1057.0,1057,110001,1100015
6,2022-07-01,2022,7,'11000120396','ALTA FLORESTA DOESTE','RO',1485.0,1485,110001,1100015
7,2022-08-01,2022,8,'11000120396','ALTA FLORESTA DOESTE','RO',1802.0,1802,110001,1100015
8,2022-09-01,2022,9,'11000120396','ALTA FLORESTA DOESTE','RO',1283.0,1283,110001,1100015
9,2022-10-01,2022,10,'11000120396','ALTA FLORESTA DOESTE','RO',1033.0,1033,110001,1100015
10,2022-11-01,2022,11,'11000120396','ALTA FLORESTA DOESTE','RO',921.0,921,110001,1100015
11,2022-12-01,2022,12,'11000120396','ALTA FLORESTA DOESTE','RO',522.0,522,110001,1100015
12,2022-01-01,2022,1,'11000206675','ARIQUEMES','RO',1109.0,1109,110002,1100023

In [405]:
RMA_2022_0=RMA_m_2022.groupby(['ano','municipio','uf','IBGE','IBGE7'])['c1'].agg(['sum','mean']).round(2).reset_index()
RMA_2022_0=RMA_2022_0.rename(columns={'sum':'Soma_C1', 'mean': 'Média_C1'})

In [406]:
RMA_2022_0.head()

    ano              municipio    uf    IBGE    IBGE7  Soma_C1  Média_C1
0  2022      'ABADIA DE GOIAS'  'GO'  520005  5200050   6860.0    857.50
1  2022  'ABADIA DOS DOURADOS'  'MG'  310010  3100104   1441.0    120.08
2  2022            'ABADIANIA'  'GO'  520010  5200100   1869.0    155.75
3  2022               'ABAETE'  'MG'  310020  3100203   6640.0    553.33
4  2022           'ABAETETUBA'  'PA'  150010  1500107  26806.0    279.23

In [407]:
RMA_2022_original=RMA_m_2022.groupby(['ano','municipio','uf','IBGE','IBGE7'])['c1_original'].agg(['sum','mean']).round(2).reset_index()
RMA_2022_original=RMA_2022_original.rename(columns={'sum':'Soma_c1_original', 'mean': 'Média_c1_original'})

In [409]:
RMA_2022_original.head()

,ano,municipio,uf,IBGE,IBGE7,Soma_c1_original,Média_c1_original
0,2022,'ABADIA DE GOIAS','GO',520005,5200050,10393,944.82
1,2022,'ABADIA DOS DOURADOS','MG',310010,3100104,1441,120.08
2,2022,'ABADIANIA','GO',520010,5200100,1869,155.75
3,2022,'ABAETE','MG',310020,3100203,6640,553.33
4,2022,'ABAETETUBA','PA',150010,1500107,26806,279.23

In [410]:
RMA_2022=pd.merge(RMA_2022_0,RMA_2022_original, how = 'inner', 
                  right_on=['ano', 'municipio','IBGE7','IBGE','uf'],
                  left_on=['ano', 'municipio','IBGE7','IBGE','uf'])
RMA_2022

,ano,municipio,uf,IBGE,IBGE7,Soma_C1,Média_C1,Soma_c1_original,Média_c1_original
0,2022,'ABADIA DE GOIAS','GO',520005,5200050,6860.0,857.50,10393,944.82
1,2022,'ABADIA DOS DOURADOS','MG',310010,3100104,1441.0,120.08,1441,120.08
2,2022,'ABADIANIA','GO',520010,5200100,1869.0,155.75,1869,155.75
3,2022,'ABAETE','MG',310020,3100203,6640.0,553.33,6640,553.33
4,2022,'ABAETETUBA','PA',150010,1500107,26806.0,279.23,26806,279.23
...,...,...,...,...,...,...,...,...,...
5513,2022,'XIQUE-XIQUE','BA',293360,2933604,4144.0,172.67,4144,172.67
5514,2022,'ZABELE','PB',251740,2517407,961.0,80.08,961,80.08
5515,2022,'ZACARIAS','SP',355715,3557154,922.0,76.83,922,76.83
5516,2022,'ZE DOCA','MA',211400,2114007,4779.0,796.50,116738,4864.08
5517,2022,'ZORTEA','SC',421985,4219853,2306.0,192.17,2306,192.17

In [411]:
RMA_2022[(RMA_2022['IBGE7']==4219853)]

,ano,municipio,uf,IBGE,IBGE7,Soma_C1,Média_C1,Soma_c1_original,Média_c1_original
5517,2022,'ZORTEA','SC',421985,4219853,2306.0,192.17,2306,192.17

In [412]:
RMA_m_2022[(RMA_m_2022['IBGE7']==4219853)].sort_values(by='mes', ascending=False)

,data,ano,mes,NU_IDENTIFICADOR,municipio,uf,c1,c1_original,IBGE,IBGE7
84802,2022-12-01,2022,12,'42198532293','ZORTEA','SC',154.0,154,421985,4219853
84801,2022-11-01,2022,11,'42198532293','ZORTEA','SC',178.0,178,421985,4219853
84800,2022-10-01,2022,10,'42198532293','ZORTEA','SC',135.0,135,421985,4219853
84799,2022-09-01,2022,9,'42198532293','ZORTEA','SC',275.0,275,421985,4219853
84798,2022-08-01,2022,8,'42198532293','ZORTEA','SC',238.0,238,421985,4219853
84797,2022-07-01,2022,7,'42198532293','ZORTEA','SC',217.0,217,421985,4219853
84796,2022-06-01,2022,6,'42198532293','ZORTEA','SC',196.0,196,421985,4219853
84795,2022-05-01,2022,5,'42198532293','ZORTEA','SC',165.0,165,421985,4219853
84794,2022-04-01,2022,4,'42198532293','ZORTEA','SC',259.0,259,421985,4219853
84793,2022-03-01,2022,3,'42198532293','ZORTEA','SC',63.0,63,421985,4219853
84792,2022-02-01,2022,2,'42198532293','ZORTEA','SC',147.0,147,421985,4219853
84791,2022-01-01,2022,1,'42198532293','ZORTEA','SC',279.0,279,421985,4219853

In [413]:
RMA_m_2022_CRAS=RMA_m_2022.groupby(['data','ano','municipio','uf','IBGE','IBGE7'])['NU_IDENTIFICADOR'].agg(['count']).reset_index()
RMA_m_2022_CRAS

             data   ano              municipio    uf    IBGE    IBGE7  count
0      2022-01-01  2022      'ABADIA DE GOIAS'  'GO'  520005  5200050      1
1      2022-01-01  2022  'ABADIA DOS DOURADOS'  'MG'  310010  3100104      1
2      2022-01-01  2022            'ABADIANIA'  'GO'  520010  5200100      1
3      2022-01-01  2022               'ABAETE'  'MG'  310020  3100203      1
4      2022-01-01  2022           'ABAETETUBA'  'PA'  150010  1500107      8
...           ...   ...                    ...   ...     ...      ...    ...
64005  2022-12-01  2022          'XIQUE-XIQUE'  'BA'  293360  2933604      2
64006  2022-12-01  2022               'ZABELE'  'PB'  251740  2517407      1
64007  2022-12-01  2022             'ZACARIAS'  'SP'  355715  3557154      1
64008  2022-12-01  2022              'ZE DOCA'  'MA'  211400  2114007      2
64009  2022-12-01  2022               'ZORTEA'  'SC'  421985  4219853      1

[64010 rows x 7 columns]

In [418]:
RMA_2022_CRAS =RMA_m_2022_CRAS.groupby(['ano','municipio','uf','IBGE','IBGE7'])['count'].agg(['max']).reset_index()
RMA_2022_CRAS=RMA_2022_CRAS.rename(columns={'max':'total_max_CRAS'})

Consistencia numero de CRAS

In [415]:
RMA_m_2022_CRAS[(RMA_m_2022_CRAS['IBGE7']==4219853)]

             data   ano municipio    uf    IBGE    IBGE7  count
5356   2022-01-01  2022  'ZORTEA'  'SC'  421985  4219853      1
10754  2022-02-01  2022  'ZORTEA'  'SC'  421985  4219853      1
16070  2022-03-01  2022  'ZORTEA'  'SC'  421985  4219853      1
21477  2022-04-01  2022  'ZORTEA'  'SC'  421985  4219853      1
26793  2022-05-01  2022  'ZORTEA'  'SC'  421985  4219853      1
32114  2022-06-01  2022  'ZORTEA'  'SC'  421985  4219853      1
37223  2022-07-01  2022  'ZORTEA'  'SC'  421985  4219853      1
42678  2022-08-01  2022  'ZORTEA'  'SC'  421985  4219853      1
48079  2022-09-01  2022  'ZORTEA'  'SC'  421985  4219853      1
53436  2022-10-01  2022  'ZORTEA'  'SC'  421985  4219853      1
58701  2022-11-01  2022  'ZORTEA'  'SC'  421985  4219853      1
64009  2022-12-01  2022  'ZORTEA'  'SC'  421985  4219853      1

In [419]:
RMA_2022_CRAS[(RMA_2022_CRAS['IBGE7']==4219853)]

       ano municipio    uf    IBGE    IBGE7  total_max_CRAS
5517  2022  'ZORTEA'  'SC'  421985  4219853               1

In [439]:
RMA_mensal=tabela_final[['ano', 'mes', 'municipio', 'uf', 'c1', 'c1_original', 'IBGE','IBGE7']]

In [440]:
RMA_m_12_2022=RMA_mensal[(RMA_mensal['mes']==12)]

In [442]:
RMA_m_12_2022=RMA_m_12_2022.groupby(['municipio','uf','IBGE','IBGE7']).sum().reset_index()
RMA_m_12_2022=RMA_m_12_2022.rename(columns={'c1':'c1_12_2022','c1_original':'c1_original_12_2022'})
RMA_m_12_2022=RMA_m_12_2022.drop(columns={'ano','mes'})
RMA_m_12_2022

,municipio,uf,IBGE,IBGE7,c1_12_2022,c1_original_12_2022
0,'ABADIA DOS DOURADOS','MG',310010,3100104,80.0,80
1,'ABADIANIA','GO',520010,5200100,77.0,77
2,'ABAETE','MG',310020,3100203,702.0,702
3,'ABAETETUBA','PA',150010,1500107,1847.0,1847
4,'ABAIARA','CE',230010,2300101,111.0,111
...,...,...,...,...,...,...
5303,'XIQUE-XIQUE','BA',293360,2933604,195.0,195
5304,'ZABELE','PB',251740,2517407,23.0,23
5305,'ZACARIAS','SP',355715,3557154,42.0,42
5306,'ZE DOCA','MA',211400,2114007,0.0,14748
5307,'ZORTEA','SC',421985,4219853,154.0,154

In [443]:
RMAcompleto0 = pd.merge(RMA_2022, RMA_2022_CRAS, how = 'left')

In [444]:
RMAcompleto0

,ano,municipio,uf,IBGE,IBGE7,Soma_C1,Média_C1,Soma_c1_original,Média_c1_original,total_max_CRAS
0,2022,'ABADIA DE GOIAS','GO',520005,5200050,6860.0,857.50,10393,944.82,1
1,2022,'ABADIA DOS DOURADOS','MG',310010,3100104,1441.0,120.08,1441,120.08,1
2,2022,'ABADIANIA','GO',520010,5200100,1869.0,155.75,1869,155.75,1
3,2022,'ABAETE','MG',310020,3100203,6640.0,553.33,6640,553.33,1
4,2022,'ABAETETUBA','PA',150010,1500107,26806.0,279.23,26806,279.23,8
...,...,...,...,...,...,...,...,...,...,...
5513,2022,'XIQUE-XIQUE','BA',293360,2933604,4144.0,172.67,4144,172.67,2
5514,2022,'ZABELE','PB',251740,2517407,961.0,80.08,961,80.08,1
5515,2022,'ZACARIAS','SP',355715,3557154,922.0,76.83,922,76.83,1
5516,2022,'ZE DOCA','MA',211400,2114007,4779.0,796.50,116738,4864.08,2
5517,2022,'ZORTEA','SC',421985,4219853,2306.0,192.17,2306,192.17,1

In [445]:
RMAcompleto= pd.merge(RMAcompleto0,RMA_m_12_2022,how='left')

In [446]:
RMAcompleto.sort_values(by=['Soma_C1'], ascending=False)

,ano,municipio,uf,IBGE,IBGE7,Soma_C1,Média_C1,Soma_c1_original,Média_c1_original,total_max_CRAS,c1_12_2022,c1_original_12_2022
4166,2022,'RIO DE JANEIRO','RJ',330455,3304557,1455179.0,3156.57,2097010,3718.10,47,104711.0,111090.0
4809,2022,'SAO PAULO','SP',355030,3550308,901863.0,1427.00,953701,1490.16,54,75198.0,83322.0
1818,2022,'FORTALEZA','CE',230440,2304400,738816.0,2556.46,966566,2983.23,27,60486.0,66025.0
1493,2022,'CURITIBA','PR',410690,4106902,508362.0,1086.24,508362,1086.24,39,30141.0,30141.0
2856,2022,'MANAUS','AM',130260,1302603,350503.0,1466.54,355518,1481.32,20,20485.0,20485.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1551,2022,'DIRCEU ARCOVERDE','PI',220335,2203354,0.0,NaN,14025,1168.75,1,0.0,1336.0
4519,2022,'SANTO ANTONIO DO SUDOESTE','PR',412440,4124400,0.0,NaN,18509,1542.42,1,0.0,1179.0
4125,2022,'RIBEIRAO BONITO','SP',354290,3542909,0.0,0.00,0,0.00,1,NaN,NaN
5173,2022,'TERRA ROXA','PR',412740,4127403,0.0,NaN,22835,1902.92,1,0.0,2439.0
3644,2022,'PAVERAMA','RS',431415,4314159,0.0,NaN,22513,1876.08,1,0.0,1700.0

In [450]:
RMAcompleto_Nulos=RMAcompleto[(RMAcompleto['Soma_c1_original'] == 0 )].sort_values(by=['Soma_c1_original'], ascending=False)

In [448]:
RMAcompleto_Nulos

,ano,municipio,uf,IBGE,IBGE7,Soma_C1,Média_C1,Soma_c1_original,Média_c1_original,total_max_CRAS,c1_12_2022,c1_original_12_2022
4125,2022,'RIBEIRAO BONITO','SP',354290,3542909,0.0,0.0,0,0.0,1,NaN,NaN

In [451]:
RMAcompleto_nao_Nulos=RMAcompleto[(RMAcompleto['Soma_c1_original'] != 0 )].sort_values(by=['Soma_c1_original'], ascending=False)

In [452]:
RMAcompleto_nao_Nulos

,ano,municipio,uf,IBGE,IBGE7,Soma_C1,Média_C1,Soma_c1_original,Média_c1_original,total_max_CRAS,c1_12_2022,c1_original_12_2022
4166,2022,'RIO DE JANEIRO','RJ',330455,3304557,1455179.0,3156.57,2097010,3718.10,47,104711.0,111090.0
1818,2022,'FORTALEZA','CE',230440,2304400,738816.0,2556.46,966566,2983.23,27,60486.0,66025.0
4809,2022,'SAO PAULO','SP',355030,3550308,901863.0,1427.00,953701,1490.16,54,75198.0,83322.0
3299,2022,'NOVA IGUACU','RJ',330350,3303500,95299.0,1764.80,527244,4393.70,10,9949.0,34348.0
1493,2022,'CURITIBA','PR',410690,4106902,508362.0,1086.24,508362,1086.24,39,30141.0,30141.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2412,2022,'ITOBI','SP',352380,3523800,42.0,8.40,42,8.40,1,NaN,NaN
676,2022,'BOM JESUS DO OESTE','SC',420257,4202578,36.0,36.00,36,36.00,1,36.0,36.0
4370,2022,'SANTA JULIANA','MG',315770,3157708,35.0,7.00,35,7.00,1,NaN,NaN
5052,2022,'SULINA','PR',412665,4126652,32.0,32.00,32,32.00,1,32.0,32.0
4081,2022,'REGINOPOLIS','SP',354250,3542503,13.0,2.60,13,2.60,1,1.0,1.0

In [464]:
RMA_2022_porte=pd.merge(RMAcompleto_nao_Nulos,Dados_municipio_porte, 
                        how = 'inner')

In [465]:
RMA_2022_porte.columns

Index(['ano', 'municipio', 'uf', 'IBGE', 'IBGE7', 'Soma_C1', 'Média_C1',
       'Soma_c1_original', 'Média_c1_original', 'total_max_CRAS', 'c1_12_2022',
       'c1_original_12_2022', 'IBGE_x', 'UF', 'Município_x', 'Região_x',
       'População 2010', 'Porte', 'IBGE_y', 'Nome_UF', 'Região_y',
       'Município_y', 'Pop_total_2010', 'Pop_Urbana2010', 'Pop_Rural2010',
       'areaKm2', 'Porte_pop2010'],
      dtype='object')

In [469]:
RMA_TOTAL_2022=RMA_2022_porte[['ano', 'municipio', 'uf', 'IBGE', 'IBGE7', 'Soma_C1', 'Média_C1',
       'Soma_c1_original', 'Média_c1_original', 'total_max_CRAS', 'c1_12_2022',
       'c1_original_12_2022', 'Porte']]

In [470]:
RMA_TOTAL_2022=RMA_TOTAL_2022.rename(columns={'IBGE':'ibge_6',	'IBGE7':'ibge_7','Município_y':'municipio','uf_y':'uf',	'Soma_C1':'soma_c1',
                               'Média_C1':'media_c1','total_max_CRAS':'total_max_cras','Porte':'porte'})

In [471]:
RMA_TOTAL_2022

,ano,municipio,uf,ibge_6,ibge_7,soma_c1,media_c1,Soma_c1_original,Média_c1_original,total_max_cras,c1_12_2022,c1_original_12_2022,porte
0,2022,'RIO DE JANEIRO','RJ',330455,3304557,1455179.0,3156.57,2097010,3718.10,47,104711.0,111090.0,Metrópole
1,2022,'FORTALEZA','CE',230440,2304400,738816.0,2556.46,966566,2983.23,27,60486.0,66025.0,Metrópole
2,2022,'SAO PAULO','SP',355030,3550308,901863.0,1427.00,953701,1490.16,54,75198.0,83322.0,Metrópole
3,2022,'NOVA IGUACU','RJ',330350,3303500,95299.0,1764.80,527244,4393.70,10,9949.0,34348.0,Grande
4,2022,'CURITIBA','PR',410690,4106902,508362.0,1086.24,508362,1086.24,39,30141.0,30141.0,Metrópole
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5512,2022,'ITOBI','SP',352380,3523800,42.0,8.40,42,8.40,1,NaN,NaN,Pequeno I
5513,2022,'BOM JESUS DO OESTE','SC',420257,4202578,36.0,36.00,36,36.00,1,36.0,36.0,Pequeno I
5514,2022,'SANTA JULIANA','MG',315770,3157708,35.0,7.00,35,7.00,1,NaN,NaN,Pequeno I
5515,2022,'SULINA','PR',412665,4126652,32.0,32.00,32,32.00,1,32.0,32.0,Pequeno I
5516,2022,'REGINOPOLIS','SP',354250,3542503,13.0,2.60,13,2.60,1,1.0,1.0,Pequeno I

10 maiores RMA

In [472]:
RMA_TOTAL_2022.sort_values(by=['soma_c1'], ascending=False)[0:10]

,ano,municipio,uf,ibge_6,ibge_7,soma_c1,media_c1,Soma_c1_original,Média_c1_original,total_max_cras,c1_12_2022,c1_original_12_2022,porte
0,2022,'RIO DE JANEIRO','RJ',330455,3304557,1455179.0,3156.57,2097010,3718.10,47,104711.0,111090.0,Metrópole
2,2022,'SAO PAULO','SP',355030,3550308,901863.0,1427.00,953701,1490.16,54,75198.0,83322.0,Metrópole
1,2022,'FORTALEZA','CE',230440,2304400,738816.0,2556.46,966566,2983.23,27,60486.0,66025.0,Metrópole
4,2022,'CURITIBA','PR',410690,4106902,508362.0,1086.24,508362,1086.24,39,30141.0,30141.0,Metrópole
7,2022,'MANAUS','AM',130260,1302603,350503.0,1466.54,355518,1481.32,20,20485.0,20485.0,Metrópole
5,2022,'TERESINA','PI',221100,2211001,322554.0,1688.76,463724,2033.88,19,29682.0,29682.0,Grande
6,2022,'CAMPO GRANDE','MS',500270,5002704,309265.0,1338.81,362750,1480.61,21,22377.0,29431.0,Grande
8,2022,'GUARULHOS','SP',351880,3518800,305394.0,2229.15,348166,2417.82,12,19651.0,19651.0,Metrópole
12,2022,'SAO LUIS','MA',211130,2111300,300974.0,1308.58,300974,1308.58,20,11802.0,11802.0,Metrópole
13,2022,'BRASILIA','DF',530010,5300108,300262.0,1042.58,300262,1042.58,29,27645.0,27645.0,Metrópole

10 menores RMA

In [474]:
RMA_TOTAL_2022.sort_values(by=['soma_c1'], ascending=True)[0:10]

,ano,municipio,uf,ibge_6,ibge_7,soma_c1,media_c1,Soma_c1_original,Média_c1_original,total_max_cras,c1_12_2022,c1_original_12_2022,porte
352,2022,'TERRA ROXA','PR',412740,4127403,0.0,NaN,22835,1902.92,1,0.0,2439.0,Pequeno I
359,2022,'PINDORETAMA','CE',231085,2310852,0.0,NaN,22499,1874.92,1,0.0,1087.0,Pequeno I
362,2022,'IBIRACI','MG',312970,3129707,0.0,NaN,22101,1841.75,1,0.0,1330.0,Pequeno I
417,2022,'NONOAI','RS',431270,4312708,0.0,NaN,19021,1585.08,1,0.0,1256.0,Pequeno I
418,2022,'HULHA NEGRA','RS',430965,4309654,0.0,NaN,18987,1582.25,1,0.0,1504.0,Pequeno I
324,2022,'COSTA RICA','MS',500325,5003256,0.0,NaN,25179,2797.67,1,0.0,1976.0,Pequeno I
430,2022,'SANTO ANTONIO DO SUDOESTE','PR',412440,4124400,0.0,NaN,18509,1542.42,1,0.0,1179.0,Pequeno I
314,2022,'IPIRANGA','PR',411050,4110508,0.0,NaN,25534,2127.83,1,0.0,2380.0,Pequeno I
301,2022,'CAMOCIM DE SAO FELIX','PE',260350,2603504,0.0,NaN,26386,2198.83,1,0.0,1730.0,Pequeno I
289,2022,'BOTELHOS','MG',310840,3108404,0.0,NaN,27092,2257.67,1,0.0,2237.0,Pequeno I

In [475]:
RMA_TOTAL_2022.to_csv('RMA_TOTAL_2022.csv',encoding = 'UTF-8')

In [476]:
url_cad_2022 = 'https://aplicacoes.mds.gov.br/sagi/servicos/misocial?fq=anomes_s:2022*&wt=csv&omitHeader=true&fq=cadunico_tot_fam_i:{0%20TO%20*]&q=*&fl=ibge:codigo_ibge,anomes:anomes_s,cadunico_tot_fam:cadunico_tot_fam_i,cadunico_tot_pes:cadunico_tot_pes_i,cadunico_tot_fam_rpc_ate_meio_sm:cadunico_tot_fam_rpc_ate_meio_sm_i,cadunico_tot_pes_rpc_ate_meio_sm:cadunico_tot_pes_rpc_ate_meio_sm_i,cadunico_tot_fam_pob:cadunico_tot_fam_pob_i,cadunico_tot_pes_pob:cadunico_tot_pes_pob_i,cadunico_tot_fam_ext_pob:cadunico_tot_fam_ext_pob_i,cadunico_tot_pes_ext_pob:cadunico_tot_pes_ext_pob_i,cadunico_tot_fam_pob_e_ext_pob:cadunico_tot_fam_pob_e_ext_pob_i,cadunico_tot_pes_pob_e_ext_pob:cadunico_tot_pes_pob_e_ext_pob_i&rows=100000000&sort=anomes_s%20desc,%20codigo_ibge%20asc'

In [477]:
cad_2022=pd.read_csv(url_cad_2022, sep=",", encoding='Latin-1')

In [478]:
cad_2022

,ibge,anomes,cadunico_tot_fam,cadunico_tot_pes,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_pes_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_pes_pob,cadunico_tot_fam_ext_pob,cadunico_tot_pes_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_tot_pes_pob_e_ext_pob
0,110001,202212,4900,12695,3231,9574,758,2503,1063,3005,1821,5508
1,110002,202212,16852,39857,12160,32098,3131,8917,3467,8743,6598,17660
2,110003,202212,910,2504,648,1990,161,523,145,385,306,908
3,110004,202212,17295,40718,11791,31406,2614,7373,4150,10481,6764,17854
4,110005,202212,3131,7631,2202,6139,517,1451,678,1965,1195,3416
...,...,...,...,...,...,...,...,...,...,...,...,...
66835,522200,202201,1913,5135,1375,4190,331,1032,321,990,652,2022
66836,522205,202201,1847,4260,1390,3644,187,484,807,2133,994,2617
66837,522220,202201,1410,3276,1058,2786,104,274,713,1923,817,2197
66838,522230,202201,1371,3273,1115,2910,169,513,647,1683,816,2196
66839,530010,202201,203730,533485,170245,485598,20985,66424,110202,307698,131187,374122

In [479]:
cad_2022.columns

Index(['ibge', 'anomes', 'cadunico_tot_fam', 'cadunico_tot_pes',
       'cadunico_tot_fam_rpc_ate_meio_sm', 'cadunico_tot_pes_rpc_ate_meio_sm',
       'cadunico_tot_fam_pob', 'cadunico_tot_pes_pob',
       'cadunico_tot_fam_ext_pob', 'cadunico_tot_pes_ext_pob',
       'cadunico_tot_fam_pob_e_ext_pob', 'cadunico_tot_pes_pob_e_ext_pob'],
      dtype='object')

In [480]:
cad_2022['total_bx_renda'] = cad_2022['cadunico_tot_pes_rpc_ate_meio_sm']-cad_2022['cadunico_tot_pes_pob_e_ext_pob']

In [481]:
cad_2022.columns

Index(['ibge', 'anomes', 'cadunico_tot_fam', 'cadunico_tot_pes',
       'cadunico_tot_fam_rpc_ate_meio_sm', 'cadunico_tot_pes_rpc_ate_meio_sm',
       'cadunico_tot_fam_pob', 'cadunico_tot_pes_pob',
       'cadunico_tot_fam_ext_pob', 'cadunico_tot_pes_ext_pob',
       'cadunico_tot_fam_pob_e_ext_pob', 'cadunico_tot_pes_pob_e_ext_pob',
       'total_bx_renda'],
      dtype='object')

In [482]:
cad_2022=cad_2022.rename(columns={'ibge':'ibge_6', 
                             'cadunico_tot_pes':'tot_pes','cadunico_tot_pes_rpc_ate_meio_sm':'tot_pes_rpc_ate_meio_sm', 
                             'cadunico_tot_pes_pob':'tot_pes_pob','cadunico_tot_pes_ext_pob':'tot_pes_ext_pob', 
                             'cadunico_tot_pes_pob_e_ext_pob':'tot_pes_pob_e_ext_pob','total_bx_renda':'tot_bx_renda'})

In [483]:
cad_2022.head()

,ibge_6,anomes,cadunico_tot_fam,tot_pes,cadunico_tot_fam_rpc_ate_meio_sm,tot_pes_rpc_ate_meio_sm,cadunico_tot_fam_pob,tot_pes_pob,cadunico_tot_fam_ext_pob,tot_pes_ext_pob,cadunico_tot_fam_pob_e_ext_pob,tot_pes_pob_e_ext_pob,tot_bx_renda
0,110001,202212,4900,12695,3231,9574,758,2503,1063,3005,1821,5508,4066
1,110002,202212,16852,39857,12160,32098,3131,8917,3467,8743,6598,17660,14438
2,110003,202212,910,2504,648,1990,161,523,145,385,306,908,1082
3,110004,202212,17295,40718,11791,31406,2614,7373,4150,10481,6764,17854,13552
4,110005,202212,3131,7631,2202,6139,517,1451,678,1965,1195,3416,2723

In [484]:
cad_2022_Ano=cad_2022[['ibge_6', 'anomes', 'tot_pes', 'tot_pes_rpc_ate_meio_sm', 'tot_pes_pob','tot_pes_ext_pob', 'tot_pes_pob_e_ext_pob', 'tot_bx_renda']]

In [485]:
cad_2022_Ano.head()

,ibge_6,anomes,tot_pes,tot_pes_rpc_ate_meio_sm,tot_pes_pob,tot_pes_ext_pob,tot_pes_pob_e_ext_pob,tot_bx_renda
0,110001,202212,12695,9574,2503,3005,5508,4066
1,110002,202212,39857,32098,8917,8743,17660,14438
2,110003,202212,2504,1990,523,385,908,1082
3,110004,202212,40718,31406,7373,10481,17854,13552
4,110005,202212,7631,6139,1451,1965,3416,2723

In [486]:
cad_2022_Soma=cad_2022_Ano.groupby(by=['ibge_6']).sum()

In [487]:
cad_2022_Soma.columns

Index(['anomes', 'tot_pes', 'tot_pes_rpc_ate_meio_sm', 'tot_pes_pob',
       'tot_pes_ext_pob', 'tot_pes_pob_e_ext_pob', 'tot_bx_renda'],
      dtype='object')

In [488]:
cad_2022_Soma=cad_2022_Soma.rename(columns={'tot_pes':'Soma_tot_pes', 
                                    'tot_pes_rpc_ate_meio_sm':'Soma_tot_pes_rpc_ate_meio_sm', 
                                    'tot_pes_pob':'Soma_tot_pes_pob',
                                    'tot_pes_ext_pob':'Soma_pes_ext_pob', 
                                    'tot_pes_pob_e_ext_pob':'Soma_tot_pes_pob_e_ext_pob', 
                                    'tot_bx_renda':'Soma_tot_bx_renda'})

In [489]:
cad_2022_Soma_=cad_2022_Soma.drop(columns={'anomes'}).reset_index()

In [490]:
cad_2022_Soma_

,ibge_6,Soma_tot_pes,Soma_tot_pes_rpc_ate_meio_sm,Soma_tot_pes_pob,Soma_pes_ext_pob,Soma_tot_pes_pob_e_ext_pob,Soma_tot_bx_renda
0,110001,146191,112565,28030,40349,68379,44186
1,110002,467223,382633,103071,114193,217264,165369
2,110003,27618,22316,5995,6139,12134,10182
3,110004,449973,351357,76819,120968,197787,153570
4,110005,86764,70449,14574,23988,38562,31887
...,...,...,...,...,...,...,...
5565,522200,70416,57608,14917,16810,31727,25881
5566,522205,53130,44304,10852,18195,29047,15257
5567,522220,38652,32518,3567,21329,24896,7622
5568,522230,42270,36665,6745,20892,27637,9028
5569,530010,7554055,6834960,973676,4168247,5141923,1693037

In [491]:
cad_2022_Media=cad_2022_Ano.groupby(by=['ibge_6']).mean().round(2)

In [492]:
cad_2022_Media.columns

Index(['anomes', 'tot_pes', 'tot_pes_rpc_ate_meio_sm', 'tot_pes_pob',
       'tot_pes_ext_pob', 'tot_pes_pob_e_ext_pob', 'tot_bx_renda'],
      dtype='object')

In [493]:
cad_2022_Media=cad_2022_Media.rename(columns={'tot_pes':'Media_tot_pes', 
                                    'tot_pes_rpc_ate_meio_sm':'Media_tot_pes_rpc_ate_meio_sm', 
                                    'tot_pes_pob':'Media_tot_pes_pob',
                                    'tot_pes_ext_pob':'Media_pes_ext_pob', 
                                    'tot_pes_pob_e_ext_pob':'Media_tot_pes_pob_e_ext_pob', 
                                    'tot_bx_renda':'Media_tot_bx_renda'})

In [494]:
cad_2022_Media=cad_2022_Media.drop(columns={'anomes'}).reset_index()

In [495]:
cad_2022_Media

,ibge_6,Media_tot_pes,Media_tot_pes_rpc_ate_meio_sm,Media_tot_pes_pob,Media_pes_ext_pob,Media_tot_pes_pob_e_ext_pob,Media_tot_bx_renda
0,110001,12182.58,9380.42,2335.83,3362.42,5698.25,3682.17
1,110002,38935.25,31886.08,8589.25,9516.08,18105.33,13780.75
2,110003,2301.50,1859.67,499.58,511.58,1011.17,848.50
3,110004,37497.75,29279.75,6401.58,10080.67,16482.25,12797.50
4,110005,7230.33,5870.75,1214.50,1999.00,3213.50,2657.25
...,...,...,...,...,...,...,...
5565,522200,5868.00,4800.67,1243.08,1400.83,2643.92,2156.75
5566,522205,4427.50,3692.00,904.33,1516.25,2420.58,1271.42
5567,522220,3221.00,2709.83,297.25,1777.42,2074.67,635.17
5568,522230,3522.50,3055.42,562.08,1741.00,2303.08,752.33
5569,530010,629504.58,569580.00,81139.67,347353.92,428493.58,141086.42

In [496]:
cad_2022_Dez=cad_2022_Ano[(cad_2022_Ano['anomes']== 202212)]

In [497]:
cad_2022_Dez.columns

Index(['ibge_6', 'anomes', 'tot_pes', 'tot_pes_rpc_ate_meio_sm', 'tot_pes_pob',
       'tot_pes_ext_pob', 'tot_pes_pob_e_ext_pob', 'tot_bx_renda'],
      dtype='object')

In [498]:
cad_2022_Dez=cad_2022_Dez.rename(columns={'tot_pes':'Dez_tot_pes', 
                                    'tot_pes_rpc_ate_meio_sm':'Dez_tot_pes_rpc_ate_meio_sm', 
                                    'tot_pes_pob':'Dez_tot_pes_pob',
                                    'tot_pes_ext_pob':'Dez_pes_ext_pob', 
                                    'tot_pes_pob_e_ext_pob':'Dez_tot_pes_pob_e_ext_pob', 
                                    'tot_bx_renda':'Dez_tot_bx_renda'})

In [499]:
cad_2022_Dez=cad_2022_Dez.drop(columns={'anomes'})

In [500]:
cad_2022_Dez

,ibge_6,Dez_tot_pes,Dez_tot_pes_rpc_ate_meio_sm,Dez_tot_pes_pob,Dez_pes_ext_pob,Dez_tot_pes_pob_e_ext_pob,Dez_tot_bx_renda
0,110001,12695,9574,2503,3005,5508,4066
1,110002,39857,32098,8917,8743,17660,14438
2,110003,2504,1990,523,385,908,1082
3,110004,40718,31406,7373,10481,17854,13552
4,110005,7631,6139,1451,1965,3416,2723
...,...,...,...,...,...,...,...
5565,522200,6440,5257,1363,1759,3122,2135
5566,522205,4557,3693,1198,981,2179,1514
5567,522220,3187,2657,327,1627,1954,703
5568,522230,3679,3134,521,1826,2347,787
5569,530010,763223,684838,103918,396820,500738,184100

In [501]:
cad2022_0=pd.merge(cad_2022_Dez,cad_2022_Media, how = 'inner', right_on='ibge_6',left_on='ibge_6').reset_index()

In [502]:
cad2022=pd.merge(cad2022_0,cad_2022_Soma_, how = 'inner', right_on='ibge_6',left_on='ibge_6')

In [503]:
cad2022

,index,ibge_6,Dez_tot_pes,Dez_tot_pes_rpc_ate_meio_sm,Dez_tot_pes_pob,Dez_pes_ext_pob,Dez_tot_pes_pob_e_ext_pob,Dez_tot_bx_renda,Media_tot_pes,Media_tot_pes_rpc_ate_meio_sm,Media_tot_pes_pob,Media_pes_ext_pob,Media_tot_pes_pob_e_ext_pob,Media_tot_bx_renda,Soma_tot_pes,Soma_tot_pes_rpc_ate_meio_sm,Soma_tot_pes_pob,Soma_pes_ext_pob,Soma_tot_pes_pob_e_ext_pob,Soma_tot_bx_renda
0,0,110001,12695,9574,2503,3005,5508,4066,12182.58,9380.42,2335.83,3362.42,5698.25,3682.17,146191,112565,28030,40349,68379,44186
1,1,110002,39857,32098,8917,8743,17660,14438,38935.25,31886.08,8589.25,9516.08,18105.33,13780.75,467223,382633,103071,114193,217264,165369
2,2,110003,2504,1990,523,385,908,1082,2301.50,1859.67,499.58,511.58,1011.17,848.50,27618,22316,5995,6139,12134,10182
3,3,110004,40718,31406,7373,10481,17854,13552,37497.75,29279.75,6401.58,10080.67,16482.25,12797.50,449973,351357,76819,120968,197787,153570
4,4,110005,7631,6139,1451,1965,3416,2723,7230.33,5870.75,1214.50,1999.00,3213.50,2657.25,86764,70449,14574,23988,38562,31887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5565,522200,6440,5257,1363,1759,3122,2135,5868.00,4800.67,1243.08,1400.83,2643.92,2156.75,70416,57608,14917,16810,31727,25881
5566,5566,522205,4557,3693,1198,981,2179,1514,4427.50,3692.00,904.33,1516.25,2420.58,1271.42,53130,44304,10852,18195,29047,15257
5567,5567,522220,3187,2657,327,1627,1954,703,3221.00,2709.83,297.25,1777.42,2074.67,635.17,38652,32518,3567,21329,24896,7622
5568,5568,522230,3679,3134,521,1826,2347,787,3522.50,3055.42,562.08,1741.00,2303.08,752.33,42270,36665,6745,20892,27637,9028
5569,5569,530010,763223,684838,103918,396820,500738,184100,629504.58,569580.00,81139.67,347353.92,428493.58,141086.42,7554055,6834960,973676,4168247,5141923,1693037

In [520]:
RMA_2022_comparativo=pd.merge(cad2022,RMA_TOTAL_2022, how = 'inner', right_on='ibge_6',left_on='ibge_6')

In [521]:
RMA_2022_comparativo

,index,ibge_6,Dez_tot_pes,Dez_tot_pes_rpc_ate_meio_sm,Dez_tot_pes_pob,Dez_pes_ext_pob,Dez_tot_pes_pob_e_ext_pob,Dez_tot_bx_renda,Media_tot_pes,Media_tot_pes_rpc_ate_meio_sm,...,uf,ibge_7,soma_c1,media_c1,Soma_c1_original,Média_c1_original,total_max_cras,c1_12_2022,c1_original_12_2022,porte
0,0,110001,12695,9574,2503,3005,5508,4066,12182.58,9380.42,...,'RO',1100015,14165.0,1180.42,14165,1180.42,1,522.0,522.0,Pequeno II
1,1,110002,39857,32098,8917,8743,17660,14438,38935.25,31886.08,...,'RO',1100023,15515.0,1292.92,15515,1292.92,1,611.0,611.0,Médio
2,2,110003,2504,1990,523,385,908,1082,2301.50,1859.67,...,'RO',1100031,1837.0,153.08,1837,153.08,1,128.0,128.0,Pequeno I
3,3,110004,40718,31406,7373,10481,17854,13552,37497.75,29279.75,...,'RO',1100049,4709.0,428.09,8495,707.92,1,242.0,242.0,Médio
4,4,110005,7631,6139,1451,1965,3416,2723,7230.33,5870.75,...,'RO',1100056,2140.0,194.55,4153,346.08,1,175.0,175.0,Pequeno I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5512,5565,522200,6440,5257,1363,1759,3122,2135,5868.00,4800.67,...,'GO',5222005,129.0,10.75,129,10.75,1,4.0,4.0,Pequeno I
5513,5566,522205,4557,3693,1198,981,2179,1514,4427.50,3692.00,...,'GO',5222054,2444.0,222.18,2444,222.18,1,174.0,174.0,Pequeno I
5514,5567,522220,3187,2657,327,1627,1954,703,3221.00,2709.83,...,'GO',5222203,6078.0,506.50,6078,506.50,1,500.0,500.0,Pequeno I
5515,5568,522230,3679,3134,521,1826,2347,787,3522.50,3055.42,...,'GO',5222302,705.0,29.38,705,29.38,2,46.0,46.0,Pequeno I
5516,5569,530010,763223,684838,103918,396820,500738,184100,629504.58,569580.00,...,'DF',5300108,300262.0,1042.58,300262,1042.58,29,27645.0,27645.0,Metrópole

In [506]:
RMA_2022_comparativo.columns

Index(['index', 'ibge_6', 'Dez_tot_pes', 'Dez_tot_pes_rpc_ate_meio_sm',
       'Dez_tot_pes_pob', 'Dez_pes_ext_pob', 'Dez_tot_pes_pob_e_ext_pob',
       'Dez_tot_bx_renda', 'Media_tot_pes', 'Media_tot_pes_rpc_ate_meio_sm',
       'Media_tot_pes_pob', 'Media_pes_ext_pob', 'Media_tot_pes_pob_e_ext_pob',
       'Media_tot_bx_renda', 'Soma_tot_pes', 'Soma_tot_pes_rpc_ate_meio_sm',
       'Soma_tot_pes_pob', 'Soma_pes_ext_pob', 'Soma_tot_pes_pob_e_ext_pob',
       'Soma_tot_bx_renda', 'ano', 'municipio', 'uf', 'ibge_7', 'soma_c1',
       'media_c1', 'Soma_c1_original', 'Média_c1_original', 'total_max_cras',
       'c1_12_2022', 'c1_original_12_2022', 'porte'],
      dtype='object')

In [522]:
RMA_2022_comparativo_DEZ=RMA_2022_comparativo[['ano', 'ibge_7', 'municipio', 'uf', 'c1_12_2022', 
       'c1_original_12_2022','total_max_cras','Dez_tot_pes','Dez_tot_pes_rpc_ate_meio_sm',
       'Dez_tot_pes_pob', 'Dez_pes_ext_pob', 'Dez_tot_pes_pob_e_ext_pob',
       'Dez_tot_bx_renda']]
RMA_2022_comparativo_DEZ.describe()

,ano,ibge_7,c1_12_2022,c1_original_12_2022,total_max_cras,Dez_tot_pes,Dez_tot_pes_rpc_ate_meio_sm,Dez_tot_pes_pob,Dez_pes_ext_pob,Dez_tot_pes_pob_e_ext_pob,Dez_tot_bx_renda
count,5517.0,5.517000e+03,5308.000000,5308.000000,5517.000000,5.517000e+03,5.517000e+03,5517.000000,5.517000e+03,5.517000e+03,5.517000e+03
mean,2022.0,3.248168e+06,556.119442,637.849096,1.546674,1.694022e+04,1.457241e+04,1789.748958,9.076536e+03,1.086629e+04,3.706123e+03
std,0.0,9.863085e+05,2458.130052,2745.205607,2.064375,7.474660e+04,6.283148e+04,8930.200012,3.780819e+04,4.595588e+04,1.792666e+04
min,2022.0,1.100015e+06,0.000000,0.000000,1.000000,1.210000e+02,8.100000e+01,0.000000,3.000000e+00,8.000000e+00,3.000000e+01
25%,2022.0,2.511301e+06,68.000000,73.000000,1.000000,3.043000e+03,2.469000e+03,221.000000,1.064000e+03,1.561000e+03,6.820000e+02
50%,2022.0,3.145000e+06,159.000000,170.000000,1.000000,6.578000e+03,5.589000e+03,502.000000,3.092000e+03,3.901000e+03,1.342000e+03
75%,2022.0,4.118006e+06,396.000000,435.250000,1.000000,1.456400e+04,1.274500e+04,1295.000000,8.334000e+03,9.608000e+03,2.893000e+03
max,2022.0,5.300108e+06,104711.000000,111090.000000,54.000000,4.043470e+06,3.232653e+06,483991.000000,1.667560e+06,2.151551e+06,1.081102e+06

In [535]:
RMA_2022_comparativo_DEZ0=RMA_2022_comparativo[[ 'municipio', 'uf', 'c1_12_2022', 
       'c1_original_12_2022','total_max_cras','Dez_tot_pes_rpc_ate_meio_sm',
        'Dez_tot_pes_pob_e_ext_pob',    ]].dropna(subset=['c1_12_2022','c1_original_12_2022'])

RMA_2022_comparativo_DEZ=RMA_2022_comparativo_DEZ0[(RMA_2022_comparativo_DEZ0['c1_original_12_2022'] != 0 )]
RMA_2022_comparativo_DEZ.sort_values(by='c1_original_12_2022',ascending=False)

,municipio,uf,c1_12_2022,c1_original_12_2022,total_max_cras,Dez_tot_pes_rpc_ate_meio_sm,Dez_tot_pes_pob_e_ext_pob
3235,'RIO DE JANEIRO','RJ',104711.0,111090.0,47,1784894,1469913
3806,'SAO PAULO','SP',75198.0,83322.0,54,3232653,2151551
946,'FORTALEZA','CE',60486.0,66025.0,27,1122486,884975
3217,'NOVA IGUACU','RJ',9949.0,34348.0,10,416430,377308
3060,'UBERLANDIA','MG',20761.0,34237.0,13,149886,80402
...,...,...,...,...,...,...,...
1116,'FRUTUOSO GOMES','RN',3.0,3.0,1,3135,2239
1542,'ITACURUBA','PE',2.0,2.0,1,3454,2893
1891,'CALDEIRAO GRANDE','BA',2.0,2.0,1,10715,9990
4729,'FAGUNDES VARELA','RS',2.0,2.0,1,89,24
3723,'REGINOPOLIS','SP',1.0,1.0,1,1421,773

In [534]:
RMA_2022_comparativo_DEZ.describe()

,c1_12_2022,c1_original_12_2022,total_max_cras,Dez_tot_pes_rpc_ate_meio_sm,Dez_tot_pes_pob_e_ext_pob
count,5304.000000,5304.000000,5304.000000,5.304000e+03,5.304000e+03
mean,556.538839,638.330128,1.564480,1.489529e+04,1.109999e+04
std,2459.009480,2746.184836,2.100346,6.403662e+04,4.683407e+04
min,0.000000,1.000000,1.000000,8.100000e+01,8.000000e+00
25%,68.000000,73.000000,1.000000,2.505250e+03,1.586750e+03
50%,159.000000,170.000000,1.000000,5.673500e+03,3.964000e+03
75%,396.250000,436.000000,1.000000,1.296675e+04,9.808500e+03
max,104711.000000,111090.000000,54.000000,3.232653e+06,2.151551e+06

In [548]:
RMA_2022_comparativo_Media=RMA_2022_comparativo[['municipio', 'uf', 'media_c1', 'Média_c1_original', 'total_max_cras',
'Dez_tot_pes_rpc_ate_meio_sm','Dez_tot_pes_pob_e_ext_pob']].dropna(subset=['media_c1', 'Média_c1_original'])
RMA_2022_comparativo_Media['taxa_ate_meio']=RMA_2022_comparativo_Media['media_c1']/RMA_2022_comparativo_Media['Dez_tot_pes_rpc_ate_meio_sm']*100
RMA_2022_comparativo_Media['taxa_ext_pob']=RMA_2022_comparativo_Media['media_c1']/RMA_2022_comparativo_Media['Dez_tot_pes_pob_e_ext_pob']*100
RMA_2022_comparativo_Media.sort_values(by='taxa_ext_pob',ascending=False)[0:10]

,municipio,uf,media_c1,Média_c1_original,total_max_cras,Dez_tot_pes_rpc_ate_meio_sm,Dez_tot_pes_pob_e_ext_pob,taxa_ate_meio,taxa_ext_pob
5045,'VISTA ALEGRE DO PRATA','RS',529.67,529.67,1,180,64,294.261111,827.609375
4938,'SAO DOMINGOS DO SUL','RS',42.00,42.00,1,231,8,18.181818,525.000000
4683,'COQUEIRO BAIXO','RS',132.25,132.25,1,135,37,97.962963,357.432432
4972,'SAO VENDELINO','RS',166.90,166.90,1,101,49,165.247525,340.612245
5008,'TRAVESSEIRO','RS',95.25,95.25,1,104,35,91.586538,272.142857
4472,'PERITIBA','SC',208.33,208.33,1,271,78,76.874539,267.089744
3619,'NOVA CASTILHO','SP',352.25,352.25,1,366,141,96.243169,249.822695
4880,'POCO DAS ANTAS','RS',50.00,50.00,1,189,25,26.455026,200.000000
4919,'SANTA CECILIA DO SUL','RS',256.92,256.92,1,324,131,79.296296,196.122137
5009,'TRES ARROIOS','RS',27.42,27.42,1,115,15,23.843478,182.800000

In [545]:
RMA_2022_comparativo_Media.describe()

,media_c1,Média_c1_original,total_max_cras,Dez_tot_pes_rpc_ate_meio_sm,Dez_tot_pes_pob_e_ext_pob,taxa_ate_meio,taxa_ext_pob
count,5501.000000,5501.000000,5501.000000,5.501000e+03,5.501000e+03,5501.000000,5501.000000
mean,292.908337,316.872338,1.548264,1.458655e+04,1.087671e+04,6.142924,11.241754
std,296.487204,371.933591,2.067165,6.291941e+04,4.601920e+04,8.707939,22.817103
min,2.600000,2.600000,1.000000,8.100000e+01,8.000000e+00,0.029139,0.040277
25%,100.750000,101.270000,1.000000,2.465000e+03,1.557000e+03,1.474948,1.968504
50%,196.420000,198.750000,1.000000,5.589000e+03,3.913000e+03,3.751237,5.347420
75%,376.920000,386.670000,1.000000,1.274500e+04,9.608000e+03,7.850220,13.091661
max,3156.570000,4864.080000,54.000000,3.232653e+06,2.151551e+06,294.261111,827.609375

In [515]:
RMA_2022_comparativo_Soma=RMA_2022_comparativo[['ano', 'ibge_7', 'municipio', 'uf', 'c1_12_2022', 'soma_c1',
       'media_c1', 'c1_original_12_2022','Soma_c1_original', 'Média_c1_original', 'total_max_cras','Soma_tot_pes', 'Soma_tot_pes_rpc_ate_meio_sm',
       'Soma_tot_pes_pob', 'Soma_pes_ext_pob', 'Soma_tot_pes_pob_e_ext_pob',
       'Soma_tot_bx_renda']]
RMA_2022_comparativo_Soma

,ano,ibge_7,municipio,uf,c1_12_2022,soma_c1,media_c1,c1_original_12_2022,Soma_c1_original,Média_c1_original,total_max_cras,Soma_tot_pes,Soma_tot_pes_rpc_ate_meio_sm,Soma_tot_pes_pob,Soma_pes_ext_pob,Soma_tot_pes_pob_e_ext_pob,Soma_tot_bx_renda
0,2022,1100015,'ALTA FLORESTA DOESTE','RO',522.0,14165.0,1180.42,522.0,14165,1180.42,1,146191,112565,28030,40349,68379,44186
1,2022,1100023,'ARIQUEMES','RO',611.0,15515.0,1292.92,611.0,15515,1292.92,1,467223,382633,103071,114193,217264,165369
2,2022,1100031,'CABIXI','RO',128.0,1837.0,153.08,128.0,1837,153.08,1,27618,22316,5995,6139,12134,10182
3,2022,1100049,'CACOAL','RO',242.0,4709.0,428.09,242.0,8495,707.92,1,449973,351357,76819,120968,197787,153570
4,2022,1100056,'CEREJEIRAS','RO',175.0,2140.0,194.55,175.0,4153,346.08,1,86764,70449,14574,23988,38562,31887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5512,2022,5222005,'VIANOPOLIS','GO',4.0,129.0,10.75,4.0,129,10.75,1,70416,57608,14917,16810,31727,25881
5513,2022,5222054,'VICENTINOPOLIS','GO',174.0,2444.0,222.18,174.0,2444,222.18,1,53130,44304,10852,18195,29047,15257
5514,2022,5222203,'VILA BOA','GO',500.0,6078.0,506.50,500.0,6078,506.50,1,38652,32518,3567,21329,24896,7622
5515,2022,5222302,'VILA PROPICIO','GO',46.0,705.0,29.38,46.0,705,29.38,2,42270,36665,6745,20892,27637,9028
5516,2022,5300108,'BRASILIA','DF',27645.0,300262.0,1042.58,27645.0,300262,1042.58,29,7554055,6834960,973676,4168247,5141923,1693037

In [510]:
RMA_2022_comparativo.to_csv('RMA_2022_comparativo.csv',encoding = 'UTF-8')

In [516]:
RMA_2022_comparativo.describe()

,index,ibge_6,Dez_tot_pes,Dez_tot_pes_rpc_ate_meio_sm,Dez_tot_pes_pob,Dez_pes_ext_pob,Dez_tot_pes_pob_e_ext_pob,Dez_tot_bx_renda,Media_tot_pes,Media_tot_pes_rpc_ate_meio_sm,...,Soma_tot_bx_renda,ano,ibge_7,soma_c1,media_c1,Soma_c1_original,Média_c1_original,total_max_cras,c1_12_2022,c1_original_12_2022
count,5517.000000,5517.000000,5.517000e+03,5.517000e+03,5517.000000,5.517000e+03,5.517000e+03,5.517000e+03,5.517000e+03,5.517000e+03,...,5.517000e+03,5517.0,5.517000e+03,5.517000e+03,5501.000000,5.517000e+03,5517.000000,5517.000000,5308.000000,5308.000000
mean,2773.500453,324816.306688,1.694022e+04,1.457241e+04,1789.748958,9.076536e+03,1.086629e+04,3.706123e+03,1.590626e+04,1.379212e+04,...,4.156775e+04,2022.0,3.248168e+06,7.524176e+03,292.908337,8.796842e+03,321.989271,1.546674,556.119442,637.849096
std,1608.039824,98630.854234,7.474660e+04,6.283148e+04,8930.200012,3.780819e+04,4.595588e+04,1.792666e+04,6.910559e+04,5.815338e+04,...,2.038134e+05,0.0,9.863085e+05,3.243293e+04,296.487204,4.186080e+04,385.667405,2.064375,2458.130052,2745.205607
min,0.000000,110001.000000,1.210000e+02,8.100000e+01,0.000000,3.000000e+00,8.000000e+00,3.000000e+01,1.155000e+02,7.008000e+01,...,3.150000e+02,2022.0,1.100015e+06,0.000000e+00,2.600000,1.300000e+01,2.600000,1.000000,0.000000,0.000000
25%,1382.000000,251130.000000,3.043000e+03,2.469000e+03,221.000000,1.064000e+03,1.561000e+03,6.820000e+02,2.920580e+03,2.412080e+03,...,7.813000e+03,2022.0,2.511301e+06,1.182000e+03,100.750000,1.204000e+03,101.570000,1.000000,68.000000,73.000000
50%,2765.000000,314500.000000,6.578000e+03,5.589000e+03,502.000000,3.092000e+03,3.901000e+03,1.342000e+03,6.379580e+03,5.437670e+03,...,1.520700e+04,2022.0,3.145000e+06,2.450000e+03,196.420000,2.554000e+03,199.250000,1.000000,159.000000,170.000000
75%,4162.000000,411800.000000,1.456400e+04,1.274500e+04,1295.000000,8.334000e+03,9.608000e+03,2.893000e+03,1.400975e+04,1.242050e+04,...,3.260300e+04,2022.0,4.118006e+06,5.211000e+03,376.920000,5.773000e+03,388.550000,1.000000,396.000000,435.250000
max,5569.000000,530010.000000,4.043470e+06,3.232653e+06,483991.000000,1.667560e+06,2.151551e+06,1.081102e+06,3.832191e+06,3.081039e+06,...,1.246660e+07,2022.0,5.300108e+06,1.455179e+06,3156.570000,2.097010e+06,4864.080000,54.000000,104711.000000,111090.000000